*{
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    /*Grid*/
}
#grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    row-gap: 2rem;
    
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
/*Flex*/
header nav{
    display: flex;
    flex-wrap: wrap;
}
.logo a{
    display: inline-block;
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.logo img{
    vertical-align: middle;
    width: 8rem;
}
header{
    border-bottom: 0.5px solid;
}
header button{
    border: 0;
    background-color: #fefefe;
}
i{
    font-size: 2.5rem;
    font-weight: 1;
}
/*Dropdownmeny i mobilversjon*/
#topnavcat{
    display: none;
    background-color: #d4d4d4;
    list-style: none;
    flex-direction: column;
    font-size: 2.3rem;
}

/*Searchbar i mobilversjon*/
#searchbar{
    display: none;
    align-items: center;
    border: 0.5px solid;
    border-radius: 5px;
    width: 100%;
}
#searchbar button{
    display: inline-block;
    font-size: 1rem;
    padding: 0 0 0 0.5rem;
    justify-self: start;
}
#searchbar input{
    display: inline-block;
    width: 15rem;
    height: 1.8rem;
    margin: auto 0.5rem;
    border: 0px;
}
#searchbar i{
    display: inline-block;
    font-size: 1rem;
    align-self: center;
    padding: 0.3rem;
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
header nav ul li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: black;
}

main{
    width: 100%;
    justify-content: center;
}
.article{
    margin: 1rem auto;
}
.article article{
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem 0.3rem 0rem 0.3rem;
    margin: 0;
    border-radius: 5px;
    justify-content: space-around;
    background-color: rgba(198, 170, 129, 0.65);
}
.article img{
    width: 45%;
    height: auto;
    max-width: 500px;
}
.article a{
    width: 100%;
    color: black;
    text-decoration: none;
}
.article h2{
    font-weight: 750;
    font-size: 2.9rem;
    margin: 1rem;
}
.article p{
    font-size: 1.5rem;
    margin: 0.7rem;
}
.productslider{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid;
    border-radius: 5px;
    margin: 2rem auto;
    flex-direction: row;
    justify-content: space-between;
}
.productslider a{
    display: flex;
    width: 30%;
    color: black;
    text-decoration: none;
}
.productslider article{
    display: inline-block;
    width: 100%;
}
.productslider h2{
    width: 100%;
    margin: 1rem 1rem;
    font-size: 2.5rem;
}
.productslider i{
    margin: auto 0 auto 1rem; 
    font-size: 2.5rem;
    align-self: center;
}
.productslider img{
    display: inline-block;
    width: 100%;
    height: auto;
}
.productslider h3{
    margin: 0;
}
.productslider p{
    margin: 1rem 0 0 0;
}
#article2 img{
    width: 100%;
    height: auto;
}
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(79, 74, 74, 0.226);
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
}
#footer section{
    display: flex;
    flex-wrap: wrap;
    
}
#footer h2{
    font-size: 2.5rem;
    margin: 0;
}
#footer h3{
    font-size: 1.3rem;
    margin: 0;
}
#about{
    border-bottom: 0.5px solid;
    width: 80%;
}
#about p{
    font-size: 1.5rem;
    margin: 1rem 0 0.2rem 0;
}
#contact{
    width: 80%;
}
#contact h3{
    width: 100%;
}
#contact p{
    margin: 0;
    width: 100%;
}
#contact a{
    color: black;
}
#contact span{
    width: 100%;
}
#copyright p{
    margin: 0;
    font-size: 1rem;
}
#igicon img{
    width: 100%;
}
#igicon{
    margin: 0.2rem;
    justify-self: left;
    width: 10%;
}
#fbicon p{
    font-size: 2rem;
    font-weight: 700;
}
#fbicon{
    display: flex;
    background-color: blue;
    text-decoration: none;
    width: 10%;
    border-radius: 20px;
    margin: 0.2rem;
    justify-content: center;
}
#fbicon p{
    width: 1rem;
    align-self: center;
    color: white;
}

#category h2{
    display: none;
}

#category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cat_fil{
    width: 40%;
    color: white;
    background-color: black;
}
#sort{
    width: 80%;
    color: white;
    background-color: black;
}
#category select{
    font-size: 1.5rem;
    margin: 0.5rem auto;
}
#category select option{
    background-color: white;
    color: black;
}


#catalogitems h2{
    display: none;
}
#catalogitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#catalogitems img{
    width: 100%;
}
#catalogitems article{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
}
#catalogitems article a{
    color: black;
    text-decoration: none;
}
#catalogitems h3{
    margin: 0;
    font-size: 1rem;
}
#catalogitems p{
    margin: 0.5rem;
    font-size: 1rem;
    width: 40%;
}
#catalogitems article i{
    font-size: 1.7rem;
    margin: auto;
}
#bottomnav{
    display: flex;
    justify-content: space-around;
}
#bottomnav a{
    color: black;
}



#product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#product img{
    width: 100%;
    height: auto;
}
#product h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem auto auto auto;
}
#product p{
    margin: 0;
}
#price{
    width: 100%;
    font-weight: bold;
}
#product h3{
    width: 100%;
    margin: 0;
}
#product ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}
#product input{
    width: 3rem;
    height: 3rem;
}
#product label{
    font-size: 1.5rem;
}
#size{
    width: 60%;
    font-size: 1.5rem;
}
#prodet{
    width: 100%;
    border: 0px;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    font-size: 1.5rem;
}
#product button{
    background-color: rgba(75, 147, 31, 0.74);
    color: white;
    border-radius: 20px;
    border: 0;
    width: 20rem;
    height: 3.5rem;
    font-size: 2rem;
    margin: 1rem auto;
}
/*
@media only screen and (min-width: 480px) {
}*/