*{
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    /*Grid*/
}
#grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    row-gap: 1rem;
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
/*Flex*/
header nav{
    display: flex;
    flex-wrap: wrap;
}
.logo a{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
header button{
    border: 0;
    background-color: #fefefe;
}
i{
    font-size: 2rem;
    font-weight: 1;
}
#topnavcat{
    display: none;
    list-style: none;
}
#searchbar{
    display: none;
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
header nav ul li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: black;
}

main{
    width: 100%;
    justify-content: center;
}
main article{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    margin: 0;
    border: 0.5px solid;
    border-radius: 5px;
    justify-content: space-around;
}


/*
.logo a{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
header nav ul li{
    margin: 1rem;
}


main{
    text-align: center;
}
article{
    display: flex;
    max-width: 400px;
    margin: 1rem auto;
}
@media only screen and (min-width: 480px) {
    
}*/