*{
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    /*Grid*/
}
#grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    row-gap: 1rem;
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
/*Flex*/
header nav{
    display: flex;
    flex-wrap: wrap;
}
.logo a{
    display: inline-block;
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.logo img{
    vertical-align: middle;
    width: 8rem;
}
header button{
    border: 0;
    background-color: #fefefe;
}
i{
    font-size: 2.5rem;
    font-weight: 1;
}
/*Dropdownmeny i mobilversjon*/
#topnavcat{
    display: none;
    background-color: #d4d4d4;
    list-style: none;
    flex-direction: column;
    font-size: 2.3rem;
}

/*Searchbar i mobilversjon*/
#searchbar{
    display: none;
    align-items: center;
    border: 0.5px solid;
    border-radius: 5px;
    width: 100%;
}
#searchbar button{
    display: inline-block;
    font-size: 1rem;
    padding: 0 0 0 0.5rem;
    justify-self: start;
}
#searchbar input{
    display: inline-block;
    width: 15rem;
    height: 1.8rem;
    margin: auto 0.5rem;
}
#searchbar i{
    display: inline-block;
    font-size: 1.83rem;
    align-self: center;
    padding: 0.3rem;
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
header nav ul li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: black;
}

main{
    width: 100%;
    justify-content: center;
}
.article{
    margin: 1rem auto;
}
.article article{
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem 0.3rem 0rem 0.3rem;
    margin: 0;
    border-radius: 5px;
    justify-content: space-around;
}
.article img{
    width: 45%;
    height: auto;
}
.article a{
    color: black;
    text-decoration: none;
}
.article h2{
    font-weight: 750;
    font-size: 2.9rem;
    margin: 1rem;
}
.article p{
    font-size: 1.5rem;
    margin: 0.7rem;
}
#article1{
    border: 0;
    background-color: #C6AA81;
    border: 0px;
}
.productslider{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid;
    border-radius: 5px;
    margin: 1rem auto;
    justify-content: flex-start;
    flex-direction: row;
}
.productslider article{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productslider h2{
    display: block;
    font-size: 2.5rem;
}
.productslider img{
    display: inline-block;
    width: 35%;
}
.productslider a{
    color: black;
    text-decoration: none;
}
.productslider h3{
    display: inline-block
}
.productslider p{
    display: inline-block;
}

#article2{
    border: 0.5px solid;
}
/*
.logo a{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
header nav ul li{
    margin: 1rem;
}


main{
    text-align: center;
}
article{
    display: flex;
    max-width: 400px;
    margin: 1rem auto;
}
@media only screen and (min-width: 480px) {
    
}*/